# Trabalho Prático Módulo 4 - Bootcamp Python

In [1]:
# importando as bibliotecas
import pandas as pd  #bibioteca responsável para o tratamento e limpeza dos dados
import numpy as np #biblioteca utilizada para o tratamento eficiente de dados numéricos
#import datetime  #biblioteca utilizada para trabalhar com datas
from matplotlib import pyplot as plt  #plotar os gráficos
import seaborn as sns #plot de gráficos

In [2]:
# carregando os dados para o pandas
df_diabetes=pd.read_csv('/content/datasets_diabetes.csv')

## Iniciando a análise exploratória

In [3]:
# características do dataset
df_diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
df_diabetes.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

### Dados:
<p>'Pregnancies': número de vezes que engravidou</p> 
<p>'Glucose': nível de glicose </p>
<p>'BloodPressure': pressão sanguínea </p>
<p>'SkinThickness': </p>
<p>'Insulin': insulina </p>
<p>'BMI': índice de massa corporal </p>
<p>'DiabetesPedigreeFunction': </p>
<p>'Age': idade </p>
<p>'Outcome': saída</p>

In [5]:
# dimensões do dataset
df_diabetes.shape

(768, 9)

In [6]:
# características das colunas
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [14]:
# quantidade de valores nulos
df_diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [15]:
# valor médio da coluna Age
df_diabetes['Age'].mean()

33.240885416666664

In [16]:
# coluna Outcome (valores e quantidade)
df_diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [17]:
# estatística do dataset
df_diabetes.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [11]:
#selecionando os dados para a construção da previsão
entradas = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
saida=['Outcome']

In [20]:
# convertendo as colunas para float
df_diabetes_float = df_diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']].apply(pd.to_numeric)
#df_diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'Age']] = df[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'Age']].apply(pd.to_numeric)

In [19]:
# importação das bibliotecas de pré-processamento (normalização) e treino do scikit-learn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [21]:
# normalização dos dados de entrada
normaliza = MinMaxScaler() # objeto para a normalização
entradas_normalizadas = normaliza.fit_transform(df_diabetes_float[entradas])

In [22]:
# dados para treino
x_train, x_test, y_train, y_test = train_test_split(entradas_normalizadas, df_diabetes_float[saida], test_size=0.30, random_state=42)

In [23]:
# quantidade de dados treinados
x_train.shape

(537, 8)

###Algoritmo KMM

In [33]:
#contruindo o modelo para classificação com KNN com K=5
from sklearn.neighbors import KNeighborsClassifier
clf_KNN = KNeighborsClassifier(n_neighbors=5) #utiliza a construção por meio de 5 vizinhos

In [34]:
#treinando o modelo
clf_KNN.fit(x_train, y_train) # aplica a classificação

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [35]:
#realiza a previsão para o KNN
y_pred_KNN = clf_KNN.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score
acuracia = accuracy_score(y_test, y_pred_KNN)
print('Acurácia da àrvore de Decisão: ',acuracia)

Acurácia da àrvore de Decisão:  0.6796536796536796

In [39]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_pred_KNN))

              precision    recall  f1-score   support

           0       0.74      0.78      0.76       151
           1       0.54      0.49      0.51        80

    accuracy                           0.68       231
   macro avg       0.64      0.63      0.64       231
weighted avg       0.67      0.68      0.68       231

###Algoritmo Árvore de Decisão

In [44]:
#aplicando um modelo de classificação via árvore de decisão
from sklearn.tree import DecisionTreeClassifier
clf_arvore = DecisionTreeClassifier() 
clf_arvore.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [45]:
#realiza a previsão com os dados
y_previsto = clf_arvore.predict(x_test)

In [46]:
#from sklearn.metrics import accuracy_score
acuracia = accuracy_score(y_test, y_previsto)
print('Acurácia da àrvore de Decisão: ',acuracia)

Acurácia da àrvore de Decisão:  0.696969696969697

In [47]:
print(classification_report(y_test,y_previsto))

              precision    recall  f1-score   support

           0       0.80      0.72      0.76       151
           1       0.55      0.66      0.60        80

    accuracy                           0.70       231
   macro avg       0.68      0.69      0.68       231
weighted avg       0.71      0.70      0.70       231

###Algoritmo Floresta Randômica